.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.card-header {
    font-weight: bold;
}

.product-checkbox {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-buttons {
    margin-bottom: 20px;
}


/*=========================*/

.hidden {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-buttons {
    margin-bottom: 20px;
    text-align: right;
}